@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
background-color: #222222;
color: #e4e4e4;
font-weight: 100;
font-family:  'Roboto', sans-serif;
}
h1{
    text-align: center;
    color:  #e4e4e4;
    letter-spacing: -1.5;

}

.card{
    background-color: #044343;
    width: 370px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e4e4e4; 
}
img{
    width: 100%;
}



